*{
	font-family: Questrial;
	color:  #334d4d;
}
header{
	font-family: Questrial;
	margin: 25px;
	font-size: 25px;
}

.w3-card-4{
	margin: 25px;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
}
img{
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
}
input{
	background-color: #3d5c5c;
	color:white;
	font-size: 18px;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	margin: 10px;
}
span{
	font-size: 15px;
	margin: 0px;
	color:red;
}

