*{
	font-family: Questrial;
	color: #3d5c5c;
	font-size: 18px;
}

header{
	font-size: 30px;
	margin-top:30px;
	margin-left: 50px;
}
input{
	margin-left: 10px;
	border:none;
	outline: none;
	border-bottom:1px solid #3d5c5c;
	font-size: 18px;
	color: #3d5c5c;
	margin-bottom: 30px;

}
label{
	margin-left: 10px;
	font-size: 24px;
	margin-bottom: 1px;
}

button{
	background-color: #3d5c5c;
	color: white;
	border-radius: none;
	border-radius: 5px;
	font-size: 15px;
	outline:none;
	margin: 5px;
	padding: 5px;

}

.container{
margin-top:45px;
}

